.testimonial-container {
   width:950px;
}

.review-card {
    background-color: #080808;
    border: 1px solid #fff 0.1;
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
}

.review-card:hover {
    background-color: transparent;
    border: 1px solid rgb(127,255,0);
}


.colleague-image {
    width: 60px;
    height: 60px;
    border: 3rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.colleague-name {
    font-size: var(--normal-size);
    font-weight: var(--medium);
    margin-bottom: 0.25rem;
}

.colleague-review {
    font-size: var(--normal-size);
    font-family: var(--primary-font);
}


/* ======= Responsive Typography =============== */
/* For large devices */
@media screen and (max-width: 992px) {
    .testimonial-container {
        width: initial;
    }
    .review-card {
        padding: 1.25rem 1.5rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .review-card {
        padding: 1.25rem 2rem;
    }
}

@media screen and (max-width:576px) {
    .review-card {
        padding: 1.25rem 3rem;
    }
    .testimonial-container {
        width: 400px;
    }
}


/* For small devices */
@media screen and (max-width: 350px) {


}
